<%= form_for(@contum) do |f| %>
  <% if @contum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contum.errors.count, "error") %> prohibited this contum from being saved:</h2>

      <ul>
      <% @contum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :banco %><br />
    <%= f.text_field :banco %>
  </div>
  <div class="field">
    <%= f.label :agencia %><br />
    <%= f.text_field :agencia %>
  </div>
  <div class="field">
    <%= f.label :conta %><br />
    <%= f.text_field :conta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
