<h1>Eventos</h1>  

<%= link_to 'Novo Evento', new_evento_path %>
<br />

<% @eventos.each do |evento| %><br />
<%= link_to image_tag(evento.foto.url(:thumb)), evento %><br />
    Descricao: <%= evento.descricao %><br />
    Local: <%= evento.local %><br />
    Data: <%= evento.data.strftime("%d/%m/%Y") %><br />
    Horario: <%= evento.horario %><br />
    Instituição: <%= evento.instituicao.nome %><br />
    
    <%= link_to 'Editar', edit_evento_path(evento) %>
    <%= link_to 'Excluir', evento, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br />
<% end %>



