<p>
  <%= image_tag @evento.foto.url(:medium) %>
</p>

<p>
  <b>Local:</b>
  <%= @evento.local %>
</p>

<p>
  <b>Data:</b>
  <%= @evento.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Horario:</b>
  <%= @evento.horario %>
</p>

<p>
  <b>Descricao:</b>
  <%= @evento.descricao %>
</p>
<p>
  <b>Instituição:</b>
  <%= @evento.instituicao.nome %>
</p>

<%= link_to 'Editar', edit_evento_path(@evento) %> |
<%= link_to 'Voltar', eventos_path %>
