<%= form_for(@coletamaterial) do |f| %>
  <% if @coletamaterial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coletamaterial.errors.count, "error") %> prohibited this coletamaterial from being saved:</h2>

      <ul>
      <% @coletamaterial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :instituicao_id %><br />
    <%= f.number_field :instituicao_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
