<h1>Listing coletamaterials</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Instituicao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coletamaterials.each do |coletamaterial| %>
  <tr>
    <td><%= coletamaterial.descricao %></td>
    <td><%= coletamaterial.instituicao_id %></td>
    <td><%= link_to 'Show', coletamaterial %></td>
    <td><%= link_to 'Edit', edit_coletamaterial_path(coletamaterial) %></td>
    <td><%= link_to 'Destroy', coletamaterial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coletamaterial', new_coletamaterial_path %>
