<%= form_for(@instituicao) do |f| %>
  <% if @instituicao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instituicao.errors.count, "error") %> prohibited this instituicao from being saved:</h2>

      <ul>
      <% @instituicao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :senha %><br />
    <%= f.text_field :senha %>
  </div>

  <%= f.fields_for :endereco_attributes do |e| %>
    <div class="field">
    <%= e.label :bairro %><br />
    <%= e.text_field :bairro %>
  </div>
  <div class="field">
    <%= e.label :cep %><br />
    <%= e.text_field :cep %>
  </div>
  <div class="field">
    <%= e.label :cidade %><br />
    <%= e.text_field :cidade %>
  </div>
  <div class="field">
    <%= e.label :estado %><br />
    <%= e.text_field :estado %>
  </div>
  <div class="field">
    <%= e.label :complemento %><br />
    <%= e.text_field :complemento %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
