<h1>Instituições</h1>

<%= link_to 'Nova Instituicao', new_instituicao_path %>
<br />
<br />

<% @instituicaos.each do |instituicao| %>
<br />
    <%= link_to instituicao.nome, instituicao %><br />
    <%= instituicao.endereco.complemento %>,
    <%= instituicao.endereco.bairro %> - 
    <%= instituicao.endereco.cidade  %>/<%= instituicao.endereco.estado  %><br />
    <%= instituicao.telefone %><br />
    <%= instituicao.email %><br />
    <br />
<% end %>




