<h1>Instituições</h1>

<%= link_to 'Nova Instituicao', new_instituicao_path %>
<br />
<br />

<% @instituicaos.each do |instituicao| %>
<br />
    <%= link_to instituicao.nome, instituicao %>
    <%= instituicao.endereco_id %><br />
    <%= instituicao.telefone %><br />
    <%= instituicao.email %><br />
    <br />
<% end %>




