<p id="notice"><%= notice %></p>

<p>
  <b>Cnpj:</b>
  <%= @instituicao.cnpj %>
</p>

<p>
  <b>Nome:</b>
  <%= @instituicao.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @instituicao.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @instituicao.email %>
</p>

<p>
  <b>Login:</b>
  <%= @instituicao.login %>
</p>

<p>
  <b>Senha:</b>
  <%= @instituicao.senha %>
</p>

<p>
  <b>Endereco:</b>
  <%= @instituicao.endereco.complemento %>,
    <%= @instituicao.endereco.bairro %> - 
    <%= @instituicao.endereco.cidade  %>/<%= @instituicao.endereco.estado  %><br />
</p>


<%= link_to 'Edit', edit_instituicao_path(@instituicao) %> |
<%= link_to 'Back', instituicaos_path %>
<%= link_to 'Excluir', @instituicao, method: :delete, data: { confirm: 'Você tem certeza que deseja exculuir esta instuituição?' } %>
